<div class="row" style="width: 60vw;margin-top: 8vh">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <img class="prefix col" src="assets/img/account_circle.png" alt="">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </div>
        
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <img class="prefix col" src="assets/img/lock.png" alt="">
          <input id="password" type="password" class="validate">
          <label for="password">Contraseña</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           <img class="prefix col" src="assets/img/email.png" alt="">
          <input id="email" type="email" class="validate">
          <label for="email">Correo electronico</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
             <img class="prefix col" src="assets/img/phone.png" alt="">
            <input id="phone" type="number" class="validate">
            <label for="phone">Numero de telefono/Celular</label>
          </div>
        </div>
      <div class="row">
          <div class="input-field col s12">
              <img class="prefix col" src="assets/img/username.png" alt="">
            <input id="username" type="text" class="validate">
            <label for="username">Nombre de usuario</label>
          </div>
      </div>
      <!--<div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="input-button">
          <button class="btn" type="submit">Enviar </button>
        </div>
      </div>
    </form>
  </div>
