<div class="container">
<div class="row">
  <div class="col s12">
  <div class="card blue darken-4">
    <div class="sm-jumbotron center-align text-white">
      <h3>Formulario de Registro</h3>
    </div>
    <form class="col s12 white" #UserRegistrationForm="ngForm">
      <div class="row">
        <div class="input-field col s6">
          <img class="prefix col" src="assets/img/account_circle.png" alt="">
          <input id="first_name" type="text" class="validate" #FirstName="ngModel" [(ngModel)]="user.FirstName" required>
          <label data-error="Campo Requerido" for="first_name">Nombre</label>
        </div>
        
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" #LastName="ngModel" [(ngModel)]="user.LastName" required>
          <label for="last_name">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <img class="prefix col" src="assets/img/lock.png" alt="">
          <input name="Password" type="password" class="validate" #Password="ngModel" [(ngModel)]="user.Password" required minlength="8">
          <label data-error="Campo Requerido. Minimo 8 Caracteres" for="Password" >Contraseña</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           <img class="prefix col" src="assets/img/email.png" alt="">
          <input id="email" type="email" class="validate" #Email="ngModel" [(ngModel)]="user.Email" required>
          <label data-error="Campo Requerido" for="email">Correo electronico</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
             <img class="prefix col" src="assets/img/phone.png" alt="">
            <input id="phone" type="number" class="validate" #Phone="ngModel" [(ngModel)]="user.Phone" required minlength="10" maxlength="10">
            <label data-error="Campo Requerido" for="phone">Numero de telefono/Celular</label>
          </div>
        </div>
      <div class="row">
          <div class="input-field col s12">
              <img class="prefix col" src="assets/img/username.png" alt="">
            <input id="username" type="text" class="validate" #UserName="ngModel" [(ngModel)]="user.UserName" required>
            <label data-error="Campo Requerido" for="username">Nombre de usuario</label>
          </div>
      </div>
      <!--<div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="input-button">
          <button class="btn" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
